@font-face {
    font-family: "shrek";
    src: url("../font/SHREK.TTF");
}

.card-up{
    transition: transform .2s;
}
.card-up:hover {
    transform: scale(1.05);
}

.background-image{
    background-image: url('https://100filmsinayear.files.wordpress.com/2018/04/shrek-banner.jpg?w=1000&h=288&crop=1');
    height: 400px;
}

.banner-effect{
    background-color: rgba(0, 0, 0, 0.6)
}
